.App {
  text-align: center;
}

.miracleCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 100px;

}
.title{
  font-size: 25px;
  font-weight: 600;
}
.nav{
  display: flex;
  justify-content: center;
}
nav a{
  display:inline-block ;
  background-color: rgb(223, 214, 85);
  border-radius: 4px;
  margin: 6px;
  padding: 8px;
  transition: 0.2s;
  text-decoration: none;
  color: black;
}
nav a:hover{
  cursor: pointer;
  background-color: rgb(175, 168, 68);
  color: beige;
}

img{
  width: 700px;
}
.info{
  margin-top: 20px;
}

